
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Lab20_CoffeeShopApp.Models.UserInfo

<h2>AddUser</h2>
<h1> Welcome: @Model.Userlname, @Model.Userfname</h1>




