@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align:center">Welcome to the Grand Circus Coffee Shop!</h1>
<h3 style="text-align:center">Please Click on the Following Link to Register</h3>
<h4 style="text-align:center"><a href="/Home/UserReg">Register Here!</a></h4><br /><br />

